p.im {
  text-align: center;
}
figure {
    display: inline-block;
    text-align: center;
}
figure img {
    vertical-align: top;
    text-align: center;
}
figure figcaption {
    text-align: center;
}
h1.custom {
  text-align: center;
  clear:both;
  color: #000000;
}
h2.custom {
  text-align: center;
  clear:both;
}
p.custom {
  font-family: 'Helvetica';
  font-size: 8;
  border: 2;
}
p.right {
  text-align: right;
}
p.caption {
  text-align:center;
  font-family: 'Arial';
  font-size: 6;
  padding: 0;
  margin: 0;
}
div.left {
  clear: left;
}
div.right {
  clear: right;
}
div.clear {
  clear:both;
}
img.right {
  float: right;
  padding:1px;
  border:1px solid #328CC1;
  background-color:#1D2731;
  margin:2px;
}
img.left {
  float: left;
  padding:1px;
  border:1px solid #328CC1;
  background-color:#1D2731;
  margin:2px;
}
img.row {
  display: inline-block;
  margin-right:5px;
  border:1px solid #ccc;
  text-align: center;
}
a.category {
  text-decoration: underline;
  font-weight: bold;
}
